* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

.section-5 .box-5 .title, .section-4 .owl-box-1 .card .title-2, .section-4 .owl-box-1 .title, .section-3 .box-4 .title, .section-2 .box-3 .title, .section-1 .box-2 .daily-lifestyle .title, header .box-1 .title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #222222;
}

.section-1 .bottom .description .title, .section-1 .middle .description .title, .section-1 .upper .description .title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #222222;
}

footer .box-right .right .footer-item .footer-link, footer .box-right .left .footer-item .footer-link, footer .box .text, .section-4 .owl-box-1 .card .text, .section-4 .owl-box-1 .text, .section-3 .box-4 .text, .section-2 .box-3 .text, .section-1 .bottom .description .text, .section-1 .middle .description .text, .section-1 .upper .description .text, .section-1 .box-2 .daily-lifestyle .text, header .box-1 .text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #94959B;
}

footer .box-right .right .title, footer .box-right .left .title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #222222;
}

.navbar {
  justify-content: space-between;
  padding-top: 62px;
  height: 165px;
}
.navbar .collapse {
  flex-grow: 0;
  justify-content: space-between;
  width: 100%;
}
.navbar ul {
  margin: 0 auto;
}
.navbar ul li {
  margin-right: 56px;
}
.navbar ul a {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
}
.navbar .login-btn {
  background: #ED9526;
  border-radius: 12px;
  width: 99px;
  height: 59px;
  color: #ffffff;
  border: 0;
}
.navbar .register-btn {
  background: #ffffff;
  border-radius: 12px;
  width: 78px;
  height: 27px;
  color: #ED9526;
  border: 2px solid #ED9526;
  margin-left: 24px;
}

header .box-1 {
  width: 100%;
}
header .box-1 .title {
  font-size: 72px;
  margin-top: 109px;
  width: 692px;
  height: 180px;
}
header .box-1 .title span {
  color: #ED9526;
}
header .box-1 .text {
  margin-top: 24px;
  width: 100%;
}
header .box-1 .two-buttons {
  margin-top: 59px;
  display: flex;
  width: 100%;
}
header .box-1 .two-buttons .box-1-btn-1 {
  border: 0;
}
header .box-1 .two-buttons .box-1-btn-2 {
  margin-left: 24px;
  border: 0;
}
header .box-1 .images {
  margin-bottom: 24px;
}

.section-1 {
  margin-top: 86px;
}
.section-1 .box-2 {
  width: 100%;
}
.section-1 .box-2 .daily-lifestyle .text {
  margin-top: 24px;
}
.section-1 .upper {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-1 .upper .description {
  margin-left: 32px;
}
.section-1 .middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-1 .middle .description {
  margin-left: 32px;
}
.section-1 .bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-1 .bottom .description {
  margin-left: 32px;
}
.section-2 .box-3 .title {
  margin-top: 348px;
}
.section-2 .box-3 .text {
  margin-top: 24px;
}

.section-3 .box-4 .images {
  margin-top: 163px;
}
.section-3 .box-4 .title {
  margin-top: 335px;
}
.section-3 .box-4 .text {
  margin-top: 24px;
}

.section-4 .owl-box-1 {
  border-radius: 32px;
}
.section-4 .owl-box-1 .text {
  text-align: center;
}
.section-4 .owl-box-1 .title {
  margin-top: 24px;
  text-align: center;
}
.section-4 .owl-box-1 .card {
  background: #f6f6f6;
  border-radius: 36px;
}
.section-4 .owl-box-1 .card .title-2 {
  font-size: 30px;
  margin-top: 102px;
}
.section-4 .owl-box-1 .card .stars {
  display: flex;
  flex-direction: row;
}
.section-4 .owl-box-1 .card .stars li {
  list-style: none;
}
.section-4 .owl-box-1 .card .text {
  font-size: 20px;
}

.section-5 {
  margin-top: 72px;
}
.section-5 .box-5 {
  background: #ED9526;
  padding: 78px 0;
  display: block;
  border-radius: 32px;
}
.section-5 .box-5 .title {
  color: #ffffff;
  text-align: center;
  margin-top: 78px;
  margin-left: auto;
  margin-right: auto;
}
.section-5 .box-5 .two-buttons {
  margin-top: 54px;
  text-align: center;
  margin-top: 78px;
  margin-left: auto;
  margin-right: auto;
}
.section-5 .box-5 .two-buttons .box-1-btn-1 {
  border: 0;
}
.section-5 .box-5 .two-buttons .box-1-btn-2 {
  border: 0;
}

footer {
  height: 516px;
  background-color: #F8F8F8;
}
footer .box .footer-logo {
  margin-top: 72px;
}
footer .box .text {
  margin-top: 24px;
}
footer .box .social-media {
  margin-top: 40px;
}
footer .box-right {
  margin-top: 72px;
  display: flex;
}
footer .box-right .left .title {
  text-align: center;
}
footer .box-right .left .footer-item .footer-link {
  list-style: none;
  margin-top: 26px;
}
footer .box-right .right {
  margin-left: 154px;
}
footer .box-right .right .title {
  text-align: center;
}
footer .box-right .right .footer-item .footer-link {
  list-style: none;
  margin-top: 26px;
}
footer .box-right .right .social-media-mobile {
  display: none;
}

@media (max-width: 576px) {
  .navbar {
    height: auto;
  }
  .navbar .nav-item {
    text-align: center;
    margin-right: 0;
  }
  .navbar .login-btn {
    margin: 20px auto;
    display: block;
  }
  .navbar .register-btn {
    margin: 20px auto;
    display: block;
  }
  header {
    width: auto;
    height: auto;
  }
  header .box-1 .title {
    font-size: 28px;
    height: 84px;
    width: 256px;
    margin-top: 24px;
  }
  header .box-1 .text {
    width: 328px;
    height: 63px;
    font-size: 14px;
  }
  header .box-1 .two-buttons {
    margin-top: 24px;
  }
  header .box-1 .two-buttons .box-1-btn-1 {
    width: 114.31px;
    height: 35px;
    border: 0;
  }
  header .box-1 .two-buttons .box-1-btn-1 img {
    width: 113.31px;
    height: 35px;
  }
  header .box-1 .two-buttons .box-1-btn-2 {
    width: 114.31px;
    height: 35px;
    border: 0;
  }
  header .box-1 .two-buttons .box-1-btn-2 img {
    width: 113.31px;
    height: 34px;
  }
  header .box-1 .images {
    margin-top: 24px;
  }
  header .box-1 .images img {
    width: 100%;
  }
  .section-1 .box-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-1 .box-2 .title {
    font-size: 24px;
    text-align: center;
  }
  .section-1 .box-2 .text {
    font-size: 17px;
  }
  .section-1 .box-2 .image img {
    width: 100%;
  }
  .section-2 .box-3 .title {
    margin-top: 46px;
    font-size: 24px;
  }
  .section-2 .box-3 .text {
    margin-top: 12px;
  }
  .section-2 .box-3 .images img {
    width: 100%;
  }
  .section-3 .box-4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-3 .box-4 .title {
    margin-top: 24px;
    font-size: 24px;
  }
  .section-3 .box-4 .text {
    font-size: 16px;
    margin-top: 12px;
  }
  .section-3 .box-4 .images img {
    width: 100%;
  }
  .section-4 .owl-box-1 text {
    margin-top: 71px;
  }
  .section-4 .owl-box-1 .card {
    width: 100%;
  }
  .section-4 .owl-box-1 .card .inner {
    display: flex;
    align-items: center;
  }
  .section-4 .owl-box-1 .card .inner img {
    width: 56px;
    height: 56px;
  }
  .section-4 .owl-box-1 .card .inner .title-2 {
    font-size: 24px;
    text-align: center;
  }
  .section-4 .owl-box-1 .card .inner .stars img {
    width: 13.3px;
    height: 12.67px;
  }
  footer {
    height: 100%;
  }
  footer .row {
    display: flex;
    flex-direction: column;
  }
  footer .row .social-media {
    display: none;
  }
  footer .row .box-right {
    display: flex;
    flex-direction: column;
  }
  footer .row .box-right .right {
    margin-left: 0;
  }
  footer .row .box-right .right .social-media-mobile {
    text-align: center;
    display: block;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  footer .row .box-right .right .social-media-mobile img {
    margin-right: 20px;
  }
}/*# sourceMappingURL=style.css.map */